{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
        </header>
        <div class="entry-content clearfix">
            {{ post.body|safe }}
        </div>
        <div class="entry-meta">
            <span class="post-category"><a>{{ post.category.name }}</a></span>
            <span class="post-date"><a><time class="entry-date"
                                                      datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
            <span class="post-author"><a>{{ post.author }}</a></span>
        </div>
    </article>
{% endblock main %}
{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        <ul>
            <li>
                <a href="#">资源列表</a>
            </li>
        </ul>
    </div>
{% endblock toc %}